.box {
  > * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.text-align-center { text-align: center; }
.text-align-right { text-align: right; }
.text-align-left { text-align: left; }

.bold { font-weight: bold; }
.italic { font-style: italic; }

p.error { color: red; }

.clearfix {
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.visible-mobile {
  @include min($xs) {
    display: none !important;
  }
}

.hidden-mobile {
  @include max($xs) {
    display: none !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
