img {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

p img,
p figure,
p video,
p iframe,
.lqip__wrapper {
  & + img,
  & + figure,
  & + video,
  & + iframe,
  & + .lqip__wrapper {
    margin-top: $golden-rem / 4;
  }
}
