* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;

    @include max($xxs) {
      overflow-x: hidden;
    }
}

.container {
    margin: 0 auto;
    padding: 0 $golden-rem;
    max-width: 640px;
}
