* {
    box-sizing: border-box;
}

body {
    margin: 0;

    @include max($xxs) {
      overflow-x: hidden;
    }
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 640px;

    @include min($l) {
        max-width: 760px;
    }
}
