.main-post {
  @include min($xs) {
    margin-top: $golden-rem * 2;
    margin-bottom: $golden-rem * 2;
  }

  @include max($xs) {
    margin-top: $golden-rem;
    margin-bottom: $golden-rem;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  > .lqip__wrapper,
  > p > img {
    @include max($xxs) {
      margin-right: -$golden-rem;
      margin-left: -$golden-rem;
    }
  }
}

.lqip__wrapper {
  img {
    display: block;
    width: 100%;

    @include max($xxs) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.blog-divider {
  margin: $golden-rem * 3 auto;
}
