$border-image: url(https://adie.bisnaer.ch/d/HyhuAkuSX.png);

.drawing__canvas {
  display: block;
  width: 100%;
  height: 225px;
  max-width: 100%;
  margin: 0 auto;
  background: url(https://adie.bisnaer.ch/s/img/smileys.png) center no-repeat;
  background-size: contain;

  &:hover,
  &:not(.blank) {
    background-image: none;
  }

  &.merci {
    background-image: url(https://adie.bisnaer.ch/s/img/merci.png);
  }
}

.drawing__canvas-border {
  margin: 0 auto;

  @include min($xxs) {
    max-width: 400px;
    border: 50px solid white;
    border-image: $border-image 50 stretch;
  }

  @include max($xxs) {
    max-width: 300px;
    position: relative;
    outline: 1px solid black;
  }
}

.drawing__display {
  @extend .clearfix;

  @include min($xs) {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 100%;
    column-count: 2;
    column-gap: 640px;
    z-index: -1;
  }

  img {
    display: block;
    max-width: 100%;

    @include min($xs) {
      width: 100px;
      opacity: 0.65;
    }

    @include max($xs) {
      float: left;
      width: 25%;
      opacity: 0.8;
    }
  }
}

.drawing__error {
  display: none;

  &.show {
    display: block;
  }
}
