.map {
  width: 100%;
  position: relative;
  margin: 0 auto;
  background-image: url(/img/map-background-desktop.jpg);
  background-size: cover;

  @include min($xs) {
    height: 56.25vw;
    max-height: calc(100vh - 111px);
  }

  @include max($xs) {
    height: calc(60vh - 65px);
    background-image: url(/img/map-background-mobile.jpg);
  }

  * {
    cursor: default !important;
  }
}

#google-map {
  height: 100%;
}

.map-tipp {
  @include max($xs) {
    display: none;
  }
}

.map__box {
  background: white;
  border-radius: 3px;
  box-shadow: 0 0px 60px rgba(0, 0, 0, 0.4);
}
