.picture-grid,
figure {
  @extend .box;

  columns: 2;
  column-gap: $golden-rem / 4;

  @include max($xxs) {
    margin-right: -20px;
    margin-left: -20px;
  }

  > *,
  > .video-wrapper {
    display: block;
    width: 100%;
    margin: 0 0 $golden-rem / 4 0;
  }

  &.first-hero {
    > *:first-child {
      column-span: all;
    }
  }

  &.last-hero {
    > *:last-child {
      column-span: all;
    }
  }

  &.second-last-hero {
    > *:nth-last-child(2) {
      column-span: all;
    }
  }

  figcaption {
    column-span: all;

    @include max($xxs) {
      padding: 0 20px;
    }
  }
}
