.picture-grid,
figure {
  @extend .box;

  columns: 2;
  column-gap: $golden-rem / 4;

  @include max($xxs) {
    margin-right: -$golden-rem;
    margin-left: -$golden-rem;
  }

  > * {
    display: block;
    width: 100%;
    margin-bottom: $golden-rem / 4;
  }

  &.first-hero {
    > *:first-child {
      column-span: all;
    }
  }

  &.last-hero {
    > *:last-child {
      column-span: all;
    }
  }

  &.second-last-hero {
    > *:nth-last-child(2) {
      column-span: all;
    }
  }

  figcaption {
    column-span: all;

    @include max($xxs) {
      padding: 0 $golden-rem;
    }
  }
}
