.schritt-fuer-schritt {
  border-width: 8px;
  border-style: solid;
  margin: 2em auto;
  padding: 1em;
  border-image: repeating-linear-gradient(-45deg, deeppink 0%, deeppink 5%, fuchsia 5%, chocolate 10%, cyan 10%, cyan 15%) 41 57 1 124/2;
  @extend .box;

  dt, dd {
    display: inline-block;
  }

  dt {
    font-family: $sans-serif;
    font-weight: bold;
  }
  
  dd {
    margin-left: 0.25em;
  }
}

@keyframes fucking-nice-border {
  0% {
    border-image: repeating-linear-gradient(-45deg, magenta 0%, magenta 5%, yellow 5%, yellow 10%, cyan 10%, cyan 15%) 12;
  }
  100% {
    border-image: repeating-linear-gradient(45deg, magenta 0%, magenta 5%, yellow 5%, yellow 10%, cyan 10%, cyan 15%) 12;
  }
}