{
  "extends": "airbnb",
  "rules": {
    // Additional, per-project rules...
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "linebreak-style": 0,
    "semi": 0,
    "no-extra-semi": 2
  },
  "env": {
    "browser": true,
    "node": true
  }
}