.main-post {
  *:first-child {
    margin-top: 0;
  }
}

.picture-grid {
  columns: 2;
  column-gap: $golden-rem / 4;
  margin-bottom: $golden-rem / 4 * -1;
  
  > img {
    display: block;
    width: 100%;
    padding-bottom: $golden-rem / 4;
  }
}

.blog-divider {
  margin: $golden-rem * 3 auto;
}