.main-post {
  @include min($xs) {
    margin: $golden-rem * 2 0;
  }

  @include max($xs) {
    margin: $golden-rem 0;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.blog-divider {
  margin: $golden-rem * 3 auto;
}
