.bolg-header {
  position: relative;
  padding: 0 $golden-em;
  margin: $golden-em auto;

  .logo {
    height: 4rem;
  }

  nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    a {
      @extend .h4;
      margin: 0 $golden-rem;
      font-style: italic;
      color: black;
      flex: 0 0 auto;
      text-decoration: none;

      &:first-child {
        flex: 1 0 50%;
        text-align: right;
      }

      &:last-child {
        flex: 1 0 50%;
      }

      &.active {
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}