.bolg-header {
  position: relative;
  padding: 0 2em;
  margin: $golden-rem auto;

  @include max($xs) {
    width: 100%;
  }

  .logo {
    height: 4rem;
    display: block;

    @include max($xs) {
      height: 2.9rem;
    }
  }

  .right-link,
  .left-link {
    text-align: center;

    @include min($xs) {
      min-width: 70px;
    }
    @include max($xs) {
      min-width: 32px;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: none;
      }
    }

    img {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include max($xs) {
      justify-content: space-between;
    }

    a {
      @extend .h4;
      font-family: $text-font;
      margin: 0 $golden-rem;
      font-style: italic;
      color: black;
      flex: 1 0 auto;
      text-decoration: none;

      @include max($xs) {
        margin: 0;
        flex: 0 0 auto;
      }

      &.active {
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}