* {
    box-sizing: border-box;

}

html {
    height: 100%;
}

body,
.app {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 100%;

    @include min($l) {
        width: 60vw;
    }

    @include between($s, $l) {
        width: 70vw;
    }

    @include between($xxs, $s) {
        width: 80vw;
    }

    @include max($xxs) {
        width: none;
    }
}