* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container {
    margin: 0 auto;
    padding: 0 $golden-rem;
    max-width: 640px;
}
