.map {
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 60vh;

  @include max($xs) {
    height: 70vh;
  }

  * {
    cursor: default !important;
  }
}

#google-map {
  height: 100%;
}

.map-tipp {
  @include max($xs) {
    display: none;
  }
}