.map {
  width: 80%;
  position: relative;
  margin: 0 auto;
  height: 50vh;

  @include max($xs) {
    width: 100vw;
  }
}

#google-map {
  height: 100%;
}

.entree {
  @extend .clearfix;

  > div {
    float: left;
    width: 50%;
  }

  .box {
    padding: 0 $golden-em * 3;
  }
}