.medium-zoom__close-button {
  position: fixed;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  pointer-events: none;
  z-index: 2;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0s 0.3s;

  .medium-zoom--open & {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0s 0s;
  }
}