.picture-grid,
figure {
  @extend .box;

  columns: 2;
  column-gap: $golden-rem / 4;

  >* {
    display: block;
    width: 100%;
    margin-bottom: $golden-rem / 4;
  }

  &.first-hero {
    *:first-child {
      column-span: all;
    }
  }

  &.last-hero {
    *:last-child {
      column-span: all;
    }
  }

  &.second-last-hero {
    *:nth-last-child(2) {
      column-span: all;
    }
  }

  figcaption {
    column-span: all;
  }
}
