$heading-margin: $golden-em * 1.5 0 $golden-em / 2 0;

body {
  @include ms-respond(font-size, 1);
  line-height: $golden;
  font-family: $text-font;
}

p,
dl,
hr {
  margin: $golden-em auto;
}

pre {
  font-size: 0.8em;
  background: ghostwhite;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $title-font;
}

h1,
.h1 {
  @include ms-respond(font-size, 2.8);
  line-height: 1.304;
  margin: 1.956em auto 0.652em auto;
}

h2,
.h2 {
  @include ms-respond(font-size, 2.4);
  line-height: 1.304;
  margin: 1.956em auto 0.652em auto;
}

h3,
.h3 {
  @include ms-respond(font-size, 2);
  line-height: $golden-em;
  margin: $heading-margin;
}

h4,
.h4 {
  @include ms-respond(font-size, 1.6);
  line-height: $golden;
  margin: $heading-margin;
}

h5,
.h5 {
  font-size: inherit;
  line-height: inherit;
  margin: $heading-margin;
}

h6,
.h6 {
  font-family: $text-font;
  line-height: inherit;
  margin: $heading-margin;
}

small,
p.small,
span.small {
  font-size: 0.85em;
  font-weight: normal;
}

article {
  h1 {
    text-align: center;
  }

  h1 + p,
  .big-first-letter {
    &::first-letter {
      font-size: $golden-em * 2;
      float: left;
      margin: 0 0.25em -5px 0;
      line-height: 1;
    }
  }

  p {
    img {
      display: block;
    }
  }
}

hr {
  border: none;
  background: black;
  height: 1px;
}

blockquote {
  font-size: 1.25em;
  font-style: italic;
}

blockquote em {
  display: block;
  text-align: right;
  font-style: initial;
  font-size: 1rem;
}

img + em,
.picture-grid + .picture-subtitle {
  display: block;
  font-style: italic;
  margin: $golden-rem / 4 0;
  text-align: center;
  font-size: 0.85em;
}
