html {
  @include ms-respond(font-size, 1);
  
  // Test vertical rhythm
  // background-image: linear-gradient(#eee 1px, transparent 1px);
  // background-size: 100% calc((16px + 8 * ( ( 100vw - 420px) / 2140 )) * #{$golden});

  @include max($xxs) {
    background-size: 100% 16px * $golden;
  }

  @include min($xl) {
    background-size: 100% 24px * $golden;
  }
}

body {
  @include ms-respond(font-size, 1);
  line-height: $golden;
}

p {
  margin: $golden-rem / 2 auto;
}

h1,
.h1 {
  @include ms-respond(font-size, 3);
  @include ms-respond(line-height, 3.2);
  margin: $golden-rem / 2 0;
  text-transform: uppercase;
}

h2,
.h2 {
  @include ms-respond(font-size, 2.5);
  @include ms-respond(line-height, 2.7);
  margin: $golden-rem / 2 0;
}

h3,
.h3 {
  @include ms-respond(font-size, 2);
  @include ms-respond(line-height, 2.2);
  margin: $golden-rem / 2 0;
}

h4,
.h4 {
  @include ms-respond(font-size, 1.5);
  @include ms-respond(line-height, 1.8);
  margin: $golden-rem / 2 0;
}

h5,
.h5 {
  font-size: inherit;
  line-height: inherit;
  margin: $golden-rem / 2 0;
}

h6,
.h6 {
  @include ms-respond(font-size, 0.75);
  @include ms-respond(line-height, 1);
  margin: $golden-rem / 2 0;
}