$heading-margin: $golden-rem * 2 0 $golden-rem 0;

body {
  @include ms-respond(font-size, 1);
  line-height: $golden;
  font-family: $text-font;
}

p,
dl,
hr {
  margin: $golden-rem auto;
}

pre {
  font-size: 0.8em;
  background: ghostwhite;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $title-font;
}

h1,
.h1 {
  @include ms-respond(font-size, 2.5);
  @include ms-respond(line-height, 2.7);
  margin: $golden-em * 3 0 $golden-em * 2 0;
}

h2,
.h2 {
  @include ms-respond(font-size, 2.5);
  @include ms-respond(line-height, 2.7);
  margin: $heading-margin;
}

h3,
.h3 {
  @include ms-respond(font-size, 2);
  @include ms-respond(line-height, 2.2);
  margin: $heading-margin;
}

h4,
.h4 {
  @include ms-respond(font-size, 1.5);
  line-height: $golden;
  margin: $heading-margin;
}

h5,
.h5 {
  font-size: inherit;
  line-height: inherit;
  margin: $heading-margin;
}

h6,
.h6 {
  font-family: $text-font;
  line-height: inherit;
  margin: $heading-margin;
}

small,
p.small,
span.small {
  @extend .h6;
  @include ms-respond(font-size, 0.5);
  @include ms-respond(line-height, 1);
  font-weight: normal;
}

article {
  h1,
  h2,
  h3 {
    text-align: center;
  }

  h1 + p {
    &::first-letter {
      font-size: 3em;
      float: left;
      margin-right: 0.1em;
      line-height: 1;
    }
  }

  /*p + p {
    text-indent: 2.5em;
  }*/

  p {
    img {
      display: block;
    }
  }
}

hr {
  border: none;
  background: black;
  height: 1px;
}

img + em {
  display: block;
  margin: $golden-rem / 4 0;
  text-align: center;
}
