.timeline {
  list-style: none;

  li {
    position: relative;
    border-bottom: 1px solid black;

    &:last-child {
      border-bottom: none;
    }
  }

  img {
    max-height: 100px;
  }
}

/*.post-published {
  position: absolute;
  top: 50%;
  right: calc(100% + 1em);
  color: lightgrey;
  margin: 0;
  transform: translate(0, -50%);
}*/