.timeline {
  list-style: none;

  .h4 {
    margin: $golden-rem / 2 0;
  }

  li {
    position: relative;
    border-bottom: 1px solid black;
    padding: $golden-rem 0;
    // margin: $golden-rem / 2 0;

    &:last-child {
      border-bottom: none;
    }

    > a {
      text-decoration: none;
      color: black;
    }
  }

  p {
    margin: $golden-rem / 2 0;
  }

  .picture-grid {
    columns: 3;
  }
}

.post-published {
  color: grey;
}