<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{css}}">
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
    <header class="bolg-header">
        <p class="text-align-center">
        </p>
        {{#block "navigation"}}{{/block}}
    </header>
    <main class="container">
        {{#block "main"}}{{/block}}
    </main>
    <footer class="footer"></footer>
</body>
</html>