{{#extend "layout"}}
  {{#content "main"}}
    <ul>
      {{#each posts}}
      <li>
        <h1 class="h4">{{this.title}}</h1>
        <p class="small">{{this.lastPublished}}</p>
        {{{this.description}}}
        <p>
          <a href="{{this.url}}" class="button">mehr</a>
        </p>
      </li>
      {{/each}}
    </ul>
  {{/content}}
{{/extend}}