mixin next-post(nextPost)
  hr.blog-divider
  if nextPost
    a.next-post-link(href=nextPost.url)
      article.next-post!= nextPost.excerpt
  else
    a.next-post-link(href='/bilder')
      div.next-post
        img(
          src='/img/no-chli-biuder.jpg'
          alt='Bildergalerie'
          data-no-zoom
        )
        h3.next-post__title No chli Bilder luege?
    br
