doctype html
html(lang="de-CH")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="Description", content="Reiseblog vor Steffi und am Phippu")
    meta(name="Keywords" content="Reisen, Blog, Reiseblog, Weltreise, Reise")
    meta(name="theme-color" content="seagreen")
    block meta

    !=webpack['/indexCss.css']
    block styles

    link(rel="shortcut icon" href="/favicon.ico?v=2")
    link(rel="manifest" href="/config/webapp.manifest.json")

  body
    header.bolg-header
      block navigation
    main.main
      block body
    block footer

    block scripts
