doctype html
html(
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
)
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    block meta

    block styles

  body(
    style="margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;"
  )
    block preheader

    table.wrapper(
      style="font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;"
    )
      tr
        td.wrapper__td(
          style="padding: 0;text-align: center;"
        )
          block body

