extends _layout
include mixins/gallery-post
include mixins/navigation

block meta
  title Biuder - bis när

block styles
  !=webpack['/galleryCss.css']

block navigation
  +navigation('galerie')

block body
  div.container
    each images, title in posts
      +gallery-post(images, title)

    -if (!images || images.length == 0)
      p.italic.text-align-center Da si ja no gar keiner Biuder...
  img.medium-zoom__close-button(src='/img/close.svg' alt="Biud zuetue" title='Biud zuetue')

block scripts
  script(defer src=webpack['/gallery.js'])
