extends _layout
include mixins/post-tile
include mixins/navigation

block meta
  title bis när
  meta(name="Description", content="Reiseblog vor Steffi und am Phippu")
  link(rel='preload' href='/img/inuksuk-map.svg' as='image')
  link(rel='preload' href='/img/inuksuk-inverted.svg' as='image')
  meta(property="og:url" content="https://bisnär.ch")
  meta(property="og:title" content="bis när")
  meta(property="og:image" content=logoURL)
  link(rel="canonical" href="https://bisnär.ch")

block styles
  !=webpack['/indexCss.css']
  !=webpack['/map.css']
  style.
    

block navigation
  +navigation('index')

block body
  div#map.map
  div.container
    .schritt-fuer-schritt
      h2.h3 E Schritt witer
      p Mir hei e Plan. Es geit e chli lenger aus mir üs vorgsteut hei, derfür wärdemer gnue Zit ha, d'Schwiz no chli z'gniesse bevor mir üs ändlech wider mit dr Bürokratie dörfe umeschlah, wo mir so vermisst hei.
      p
        span.bold Nöis Startdatum: 18.08.2019 in Gondo
      p.text-align-center
        a.button(href="/e-schritt-witer") Zum Routeplan

    h1#gschichte Gschichte
    ul.posts
      each post in posts
        +post-tile(post)
      - if (!posts || posts.length == 0)
        p.italic.grey-text Da si ja no gar keiner Gschichte...

block footer
  div#subscribe

block scripts
  script(defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBADvjevyMmDkHb_xjjh3FOltkO2Oa8iAQ&libraries=places')
  script(defer src=webpack['/map.js'])
