extends _layout
include mixins/post-tile
include mixins/navigation

block meta
  title bis n채r
  meta(name="Description", content="Reiseblog vor Steffi und am Phippu")
  meta(property="og:url" content="https://bisn채r.ch")
  meta(property="og:title" content="bis n채r")
  meta(property="og:image" content=logoURL)
  link(rel="canonical" href="https://bisn채r.ch")

block styles
  !=webpack['/indexCss.css']
  !=webpack['/map.css']
  style.
    

block navigation
  +navigation('index')

block body
  div.container

    h1#gschichte Gschichte
    ul.posts
      each post in posts
        +post-tile(post)
      - if (!posts || posts.length == 0)
        p.italic.grey-text Da si ja no gar keiner Gschichte...

block footer
  div#subscribe

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBADvjevyMmDkHb_xjjh3FOltkO2Oa8iAQ&libraries=places')
  script(src=webpack['/map.js'])
