extends _layout
include mixins/post-tile
include mixins/navigation

block meta
  title bis när
  meta(name="Description", content="Reiseblog vor Steffi und am Phippu")
  link(rel='preload' href='/img/inuksuk-map.svg' as='image')
  link(rel='preload' href='/img/inuksuk-inverted.svg' as='image')
  meta(property="og:url" content="https://bisnär.ch")
  meta(property="og:title" content="bis när")
  meta(property="og:image" content=logoURL)
  link(rel="canonical" href="https://bisnär.ch")

block styles
  !=webpack['/indexCss.css']
  !=webpack['/map.css']

block navigation
  +navigation('index')

block body
  div#map.map
  div.container
    .schritt-fuer-schritt
      h3 Schritt für Schritt
      p Um üs langsam wider a d'Schwiz z'gwahne, wei mir vor Gränze us hei louffe. Das duuret äue öppe chli weniger aus e Wuche. Es si aui fründlech derzue ufgforderet, mit üs mit z'louffe, ungerwägs es Kafi cho z'trinke oder am Aabe as Lagerfüür es Bierli cho z'nä.
      dl
        dt Start:
        dd 23.08.2019 ar Südgränze (± e Tag oder zwe)
        br
        dt Aakunft: 
        dd 31.08.2019 in Grüenematt
      p.italic PS: Gneueri Infos und e Routeplan fouge ungfähr Ändi Juli.

    h1#gschichte Gschichte
    ul.posts
      each post in posts
        +post-tile(post)
      - if (!posts || posts.length == 0)
        p.italic.grey-text Da si ja no gar keiner Gschichte...

block footer
  div#subscribe

block scripts
  script(defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBADvjevyMmDkHb_xjjh3FOltkO2Oa8iAQ&libraries=places')
  script(defer src=webpack['/map.js'])
