extends _layout
include mixins/post-tile
include mixins/navigation

block meta
  title bis när
  link(rel='preload' href='/img/inuksuk-map.svg' as='image')

block styles
  !=webpack['/indexCss.css']
  !=webpack['/map.css']

block navigation
  +navigation('index')

block body
  div#map.map
  div.container
    h1 Gschichte
    ul.posts
      each post in posts
        +post-tile(post)
      - if (!posts || posts.length == 0)
        p.italic.grey-text Da si ja no gar keiner Gschichte...

block footer
  div#subscribe

block scripts
  script(defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBADvjevyMmDkHb_xjjh3FOltkO2Oa8iAQ&libraries=places')
  script(defer src=webpack['/map.js'])
