extends _layout
include mixins/post-tile

block meta
  title bis när

block styles
  !=webpack['/overviewCss.css']

block navigation
  nav
    a.active(href='/')
      span Reis
    a(href='/')
      img.logo(src=logoURL)
      span.sr-only Gschichte
    a(href='/galerie')
      span Bilder

block body
  div#map.map
  div.container
    h1 Gschichte
    ul.posts
      each post in posts
        +post-tile(post)
      - if (!posts || posts.length == 0)
        p.italic.grey-text Da si ja no gar keiner Gschichte...

    div#subscribe

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBADvjevyMmDkHb_xjjh3FOltkO2Oa8iAQ&libraries=places')
  script(src=webpack['/map.js'])
