extends _layout

include mixins/navigation

block meta
  title Sniff - Abgm채udet

block navigation
  +post-navigation

block body
  .container
    h1 Du hesch di abgm채udet...
    p.text-align-center
      img(src="/img/sad.gif" alt="Mir si truurig")
      em si 체ser Gschichte n체mm interessant gnue?
