<!DOCTYPE html>
<html lang="de-CH">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:site_name" content="Bis när">
    <meta property="og:description" content="Reiseblog vor Steffi und am Phippu">
    <meta name="Description" content="Reiseblog vor Steffi und am Phippu">
    <meta name="Keywords" content="Reisen, Blog, Reiseblog, Weltreise, Reise">
    <meta name="theme-color" content="seagreen">
    {{#block "meta"}}{{/block}}

    <style type="text/css">
      /* latin */
      @font-face {
        font-family: 'Droid Serif';
        font-style: normal;
        font-weight: 700;
        src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(https://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
      }
    </style>
    {{{webpack.[/bolg.css]}}}
    {{#block "styles"}}{{/block}}

    <link rel="shortcut icon" href="/favicon.ico?v=2">
    <link rel="manifest" href="/config/webapp.manifest.json">
</head>
<body>
    <header class="bolg-header">
        {{#block "navigation"}}{{/block}}
    </header>
    <main>
        {{#block "main"}}{{/block}}
    </main>
    {{#block "scripts"}}{{/block}}
</body>
</html>
