{{#extend "layout"}}
  {{#content "navigation"}}
    <nav>
        <a href="/"><span>Reis</span></a>
        <a href="/"><img class="logo" src="{{logoURL}}" alt=""></a>
        <a href="/gallery.html" class="active"><span>Bilder</span></a>
    </nav>
  {{/content}}
  {{#content "main"}}
    <div class="container">
      {{#each postsPerMonth}}
        <article class="month">
          <h1>{{@key}}</h1>
          <div class="picture-grid">
            {{#each this}}
              {{#if this.thumbnails.[320]}}
                <img src="{{this.thumbnails.[320]}}" alt="">
              {{/if}}
            {{/each}}
          </div>
        </article>
      {{/each}}
    </div>
  {{/content}}
{{/extend}}
